.style{
    background-color: #71C900;
}

.center img:nth-child(1){
    display: block;
    margin: auto;
    width: 150px;
}

.centrar{
    display: flex;
    justify-content: center;
}


.descount{
    background-color: #167CDC;
    border-radius: 10px;
    height: 750px;
    width: 510px;
    text-align: center;
    color: #2C3539;
    margin: 10px 10px 0 10px;
}

.other{
    font-size: xx-large;
    font-family:'Arial Narrow Bold';
    color: aliceblue;
}

input{
    width: 150px;
    height: 50px;
    font-size: xx-large;
    background-color: cornsilk;
    border: none;
    border-radius: 15px;
}

.dolar{
    font-size: 50px;
    margin-top: 20px;
}

.billetes{
    width: 250px;
    height: 250px;
}

.billete{
    position: relative; 
}

.billete p{
    width: 16px;
    height: 18px;
    border-radius: 50%;
    font-size: medium;
    color: #EDFEF3;
    font-weight: bold;
    position: absolute;
    top: 150px;
    right: 275px;
    display: flex;
    justify-content: center;
}

.ticket1, .ticket2{
    width: 100px;
    margin: 10px 10px 0 10px;
}

.ticket1:hover{
    cursor: pointer;
}

.ticket2:hover{
    cursor: pointer;
}

.descuento{
    font-size: large;
    font-family:'Arial Narrow Bold';
    color: aliceblue;
}

.tickets{
    position: relative; 
}

.tickets .primero{
    width: 16px;
    height: 18px;
    border-radius: 50%;
    font-size: large;
    color: #167CDC;
    font-weight: bold;
    position: absolute;
    top: 4px;
    right: 275px;
    display: flex;
    justify-content: center;
}

.tickets .segundo{
    width: 16px;
    height: 18px;
    border-radius: 50%;
    font-size: large;
    color: #167CDC;
    font-weight: bold;
    position: absolute;
    top: 1px;
    right: 152px;
    display: flex;
    justify-content: center;
}

.clear{
    background-color: #71C900;
    color: #EDFEF3;
    border: none;
    position: relative;
    border-radius: 10px;
}